#footer {
  border-top: 2px solid #d6d6d6;
  background-color: #f5f5f7;
  margin-top: 20px;
}
.footer_container {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  padding: 40px;
  margin: 0 auto;
  margin-top: 20px;
  //   gap: 100px;
}

.footer_left {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 150px;
  width: 40%;
}
.footer_left_one {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  h4 {
    font-size: 14px;
    font-family: 'San-Francisco', sans-serif;
    font-weight: 600;
    line-height: 18px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li a {
      text-decoration: none;
      font-size: 14px;
      line-height: 18px;
      text-decoration: none;
      color: #515154;
    }
  }
}
.footer_left_two {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  h4 {
    font-size: 14px;
    font-family: 'San-Francisco', sans-serif;
    font-weight: 600;
    line-height: 18px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li a {
      text-decoration: none;
      font-size: 14px;
      line-height: 18px;
      text-decoration: none;
      color: #515154;
    }
  }
}

.footer_right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40%;
}

.footer_right_one {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  h4 {
    font-size: 14px;
    font-family: 'San-Francisco', sans-serif;
    font-weight: 600;
    line-height: 18px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li a {
      text-decoration: none;
      font-size: 14px;
      line-height: 18px;
      text-decoration: none;
      color: #515154;
    }
  }
}

.footer_right_two {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  //   h4 {
  //     font-size: 14px;
  //     font-family: 'San-Francisco', sans-serif;
  //     font-weight: 600;
  //     line-height: 18px;
  //   }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li a {
      text-decoration: none;
      font-size: 14px;
      line-height: 18px;
      text-decoration: none;
      color: #515154;
    }
  }
}
.smm_icon {
  a i {
    font-size: 30px;
    color: #515154;
    &:hover {
      color: black;
    }
  }
}
.foote_li {
  font-size: 14px;
  font-family: 'San-Francisco', sans-serif;
  font-weight: 600;
  line-height: 18px;
  margin-bottom: 10px;
}

.reserve {
  margin-left: 100px;
  color: #515154;
  font-size: 14px;
}

@media (max-width: 1200px) {
  .footer_left {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px !important;
  }
  .footer_right {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px !important;
  }
}

@media (max-width: 600px) {
  .footer_container {
    padding: 0 !important;
    margin-bottom: 30px;
  }
  .reserve {
    width: 50%;
    text-align: center;
    margin: 0 auto;
  }
}
