.hero__container {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  margin-top: 20px;
}

.hero__content {
  max-width: 1200px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
}

.hero__slider {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-slider__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.fullscreen {
  position: absolute;
  right: 20px;
  top: 60%;
  font-size: 30px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.5s;
  &:hover {
    i {
      transform: scale(1.1);
      box-shadow: 0 0 3px 1px grey;
      background-color: transparent;
    }
  }
}
.slider_container {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: left;
  overflow: hidden;
}
.slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 5px;
  transition: 0.5s;
  margin-left: 10px;
}

.hero-slider__img {
  width: 300px;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;

  img {
    width: 100%;
  }
}
.hero-slider__buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 450px;
  margin-top: 30px;
}
.hero_slider-buttons__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  gap: 10px;
}

.hero-slider_btn {
  width: 80px;
  height: 80px;
  padding: 4px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    border: 2px solid #1d1d1d;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.hero-selected_slider-option {
  border: 2px solid #1d1d1d;
  border-radius: 10px;
}

.slider_hero_modal {
  position: fixed;
  z-index: 12;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  background-color: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  display: none;
}
.hero-slider__wrapper1 {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.slider_container1 {
  width: 700px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  margin-top: 0px;
}
@media (max-width: 1400) {
  .hero-slider__wrapper1 {
    width: 200px;
  }
  .slider_container1 {
    width: 600px;
  }
}

@media (max-width: 650px) {
  .slider_container1 {
    width: 400px;
    height: 600px;
  }
  .hero-slider__img1 {
    width: 350px !important;
    height: 350px !important;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
.slide1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  transition: all 0.5s;

  .hero-slider__img1 {
    width: 600px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    img {
      width: 60%;
      height: 70%;
    }
  }
}
.hero-slider__buttons1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.hero_slider-buttons__wrapper1 {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.hero-slider_btn1 {
  width: 100px;
  height: 100px;
  margin: 10px;
  border: 2px solid #fff;
  padding: 5px;
  &:hover {
    border: 2px solid #1d1d1d;
    border-radius: 5px;
  }
  img {
    width: 100%;
    height: 100%;
  }
}
.hero-selected_slider-option1 {
  border: 2px solid #1d1d1d;
  border-radius: 5px;
}

.fullscreen1 {
  position: absolute;
  right: 10%;
  bottom: 10%;
  font-size: 30px;
  cursor: pointer;
  i {
    &:hover {
      box-shadow: 1px 2px 3px 1px grey;
    }
  }
}
// hero options
.hero__options {
  width: 50%;
  height: 90vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.hero__options::-webkit-scrollbar {
  display: none;
}
.hero-options__title {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  h1 {
    font-size: 45px;
    color: #1d1d1d;
    font-weight: 600;
    line-height: 1.2;
  }
  div {
    width: 18;
    height: 16;
    margin-top: 30px;
    margin-left: 20px;
    font-size: 30px;
    color: #0066cc;
  }
}
.hero-option__ram {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}
.hero-ram {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
}
.ram-btn {
  padding: 16px 10px;
  border: 2px solid #888;
  //   border: 1px solid #06c;
  border-radius: 12px;
  background: transparent;
  outline: 0;
  transition: 0.3s;
  h4 {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
}
.ram-btn-style {
  border: 2px solid #06c;
}
.hero-ram_option {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.hero-option__storage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}
.hero-storage {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
}
.hero_storage-btn {
  padding: 16px 10px;
  border: 2px solid #888;
  //   border: 1px solid #06c;
  border-radius: 12px;
  background: transparent;
  outline: 0;
  transition: 0.3s;
  h4 {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
}

.hero_storage-btn_style {
  border: 2px solid #06c;
}

.hero-storage_option {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.hero-option__color {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}
.hero-color-title {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
}
.hero-color_option {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.hero_color-btn {
  width: 45%;
  padding: 10px 10px;
  border: 2px solid #888;
  //   border: 1px solid #06c;
  border-radius: 12px;
  background: transparent;
  outline: 0;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  &:hover {
    border: 2px solid #06c;
  }
  .color1 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #d29d00;
  }

  .color2 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #c0c0c0;
  }
  .color3 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #808080;
  }
  h4 {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
}

.colors-btn-style {
  border: 2px solid #06c;
}
.hero-option__price-counter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.hero_price-counter {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    width: 50%;
    outline: 0;
    border: 1px solid #d6d6d6;
    text-align: center;
    padding: 4px;
    border-left: none;
    border-right: none;
    margin: 0;
  }
  button {
    outline: none;
    background-color: #fff;
    border: 1px solid #d6d6d6;
    padding: 10px;
  }
}

// price
.hero-product__price {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;

  h1 {
    font-size: 32px;
    color: #1d1d1d;
    font-weight: 600;
    line-height: 1.5;
    margin: 0;
  }
  p {
    text-decoration: line-through;
  }
}

// hero media

@media (max-width: 992px) {
  .hero__container {
    align-items: center;
    justify-content: center;
  }
  .hero__content {
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // margin-top: 200px;
  }
  .hero__options {
    width: 90%;
    height: 100%;
  }
  .hero__slider {
    width: 90%;
    // margin-top: 200px;
  }
  .hero-slider__buttons {
    width: 100%;
  }
  .hero-slider__buttons {
    overflow-y: hidden;
    overflow-x: auto;
  }
}

@media (max-width: 900px) {
  .hero-slider__buttons1 {
    width: 360px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: auto;
  }
}

@media (max-width: 480px) {
  .hero-slider__buttons {
    width: 270px;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  .hero-slider__img {
    img {
      width: 100%;
    }
  }
  .hero__options {
    width: 100%;
    h1 {
      font-size: 25px;
    }
  }
  .hero-ram_option {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    button {
      width: 40% !important;
    }
  }
  .fullscreen {
    right: 10%;
  }
  .hero-storage_option {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    button {
      width: 40% !important;
    }
  }
  .hero-color_option {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    button {
      width: 40% !important;
      h4 {
        font-size: 13px;
      }
    }
  }
  .hero-option__price-counter {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .hero_price-counter {
      width: 70%;
      font-size: 30px;
      input {
        width: 40%;
      }
    }
  }
}
